*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
assets/** !text !filter !merge !diff
build/** !text !filter !merge !diff
src/icon.png !text !filter !merge !diff
