@import url(../basics.css);

.pageBody {
    padding-top: 0;
    height: 93.3vh;
}
.banner-bg {
    background-position: top;
    background-size: cover;
    height: 38vh;
}
.sep-bar-v {
    margin: 1.5vh 1.5vw .5vh 1.5vw;
}
#menu {
    background: transparent;
}
#menuTitle, #menuMin, #menuMax, #menuClose {
    color: white;
}
.tag {
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: rgba(20, 20, 20, 0.75);
    padding: .4rem .7rem;
    border-radius: .35rem;
    transform: skewX(-7deg);
    color: white;
    text-align: center;
    margin-top: 1.4vh;
    margin-bottom: .5vh;
}
.tags {
    display: flex;
    flex-direction: row;
    gap: .6rem;
    justify-content: center;
}
.logo {
    height: 15vh;
    width: 30vw;
    background-color: white;
    mask: url(assets://fortnite-logo.svg) no-repeat center / contain;
    -webkit-mask: url(assets://fortnite-logo.svg) no-repeat center / contain;
    user-select: none;
    opacity: .75;
    mix-blend-mode: overlay;
}
.live-events-btn {
    background-color: var(--tab);
    border-radius: 1.5vh;
    font-family: 'Montserrat';
    font-size: 4vh;
    margin: 0;
    font-weight: 600;
    padding: 2.5vh 1.5vw;
    user-select: none;
    cursor: pointer;
    transition: background .2s;
    margin-bottom: 1.7vh;
    text-decoration: none;
    color: var(--text);
}
.section-titlea:hover {
    background-color: var(--tab-hover);
}
.section-titlea i {
    margin-right: .2vw;
}
.extra-section {
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 100%;
    margin: 2vh 0 0 0;
}
.banner {
    height: 35vh;
    background-color: rgba(20, 20, 20, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5vh;
}
.section-title {
    margin: .7vh 0;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 4.5vh;
    justify-self: center;
    user-select: none;
}
.chapter-section {
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    display: grid;
    width: 100%;
    height: 48vh;
    max-height: 65vh;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(15.5vw, 1fr));
    grid-auto-rows: 22vh;
    gap: 1rem;
    will-change: transform;
    overflow-y: auto;
    overflow-x: hidden;
}
.fortnite-br-chapters {
    flex: 1;
}
.chapter-section::-webkit-scrollbar-thumb {
    display: none;
}
.fortnite-contents {
    display: flex;
    flex-direction: row;
    margin: 0 1.5vw;
}
.chapters {
    width: 100%;
    overflow: auto;
}
.chapters::before,
.chapters::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 25vh;
    width: 10vw;
    z-index: 1;
    transform: translateY(27vh);
    pointer-events: none;
}
.chapters::before {
    left: 0;
    background: linear-gradient(to right, #050505 5%, transparent 100%);
}
.chapters::after {
    right: 0;
    background: linear-gradient(to left, #050505 5%, transparent 100%);
}
#chapter {
    border-radius: 1.5vh;
    overflow: hidden;
    height: 22vh;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 18.5vw;
}
.chapter-image {
    width: 100%;
    height: 17vh;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
    z-index: 1;
    transform: scale(1);
}
#chapter:hover .chapter-image {
    transform: scale(1.05);
}
.title {
    font-size: 2.8vh;
    color: var(--text);
    margin: 0;
    font-weight: 700;
    text-decoration: none;
    object-fit: cover;
    justify-self: center;
    background: var(--tab);
    padding: .7vh 0 1vh 0;
    z-index: 2;
    position: relative;
}