@import url(../basics.css);

.banner-bg {
    background-position: top;
    background-size: cover;
    height: 100%;
}
.sep-bar-v {
    margin: 1.5vh 1.5vw .5vh 1.5vw;
}
.logo {
    height: 20vh;
    width: 40vw;
    background-color: white;
    mask: url(assets://basics/fortnite-logo.svg) no-repeat center / contain;
    -webkit-mask: url(assets://basics/fortnite-logo.svg) no-repeat center / contain;
    user-select: none;
    opacity: .75;
    mix-blend-mode: overlay;
}
.live-events-btn {
    background-color: var(--tab);
    border-radius: 1.5vh;
    font-family: 'Montserrat';
    font-size: 4vh;
    margin: 0;
    font-weight: 600;
    padding: 2.5vh 1.5vw;
    user-select: none;
    cursor: pointer;
    transition: background .2s;
    margin-bottom: 1.7vh;
    text-decoration: none;
    color: var(--text);
}
.section-titlea:hover {
    background-color: var(--tab-hover);
}
.section-titlea i {
    margin-right: .2vw;
}
.extra-section {
    display: flex;
    flex-direction: column;
    width: 38%;
    height: 100%;
    margin: 2vh 0 0 0;
}
.banner {
    height: 35vh;
    background-color: rgba(20, 20, 20, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5vh;
}
.section-title {
    margin: .7vh 0;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 4.5vh;
    justify-self: center;
    user-select: none;
}
.chapter-section {
    align-items: center;
    justify-content: center;
    font-weight: 800;
    display: grid;
    width: 100%;
    height: 47.5vh;
    max-height: 65vh;
    margin: 0;
    padding: 0;
    padding-top: .5vh;
    grid-template-columns: repeat(auto-fill, minmax(16vw, 1fr));
    grid-auto-rows: 22.5vh;
    gap: 2vh .7vw;
    will-change: transform;
    overflow-y: auto;
    overflow-x: hidden;
}
.chapter-section::-webkit-scrollbar {
    width: 1.25vw;
}
.chapter-section::-webkit-scrollbar-thumb {
    border: .4vw solid transparent;
}
.fortnite-br-chapters {
    flex: 1;
}
.fortnite-contents {
    display: flex;
    flex-direction: row;
    padding: 1.5vh .65vw 1vh .65vw;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(6px);
    background-color: var(--bg);
}
.chapters {
    width: 100%;
    overflow: auto;
}
.chapters::before,
.chapters::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 25vh;
    width: 10vw;
    z-index: 1;
    transform: translateY(27vh);
    pointer-events: none;
}
.chapters::before {
    left: 0;
    background: linear-gradient(to right, #050505 5%, transparent 100%);
}
.chapters::after {
    right: 0;
    background: linear-gradient(to left, #050505 5%, transparent 100%);
}
#chapter {
    border-radius: 1.5vh;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--tab-hover);
    padding: 1vh;
    gap: .8vh;
    transition: background .1s linear;
    text-decoration: none;
}
@keyframes fadeInEase {
    from {
        opacity: 0;
        transform: scale(0.85);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#chapter {
    opacity: 0; 
    animation: fadeInEase .25s ease forwards;
}
#chapter:active {
    transform: scale(0.95);
}
#chapter:hover {
    background: var(--btn);
}
.chapter-image-div {
    height: 17vh;
    width: 100%;
    overflow: hidden;
    border-radius: 1vh;
}
.chapter-image {
    width: 100%;
    height: 17vh;
    object-fit: cover;
    transition: transform 0.1s ease-in-out;
    z-index: 1;
    transform: scale(1);
}
#chapter:hover .chapter-image {
    transform: scale(1.05);
}
.title {
    font-size: 2.8vh;
    color: rgba(225,225,225);
    margin: 0;
    font-weight: 700;
    text-decoration: none;
    object-fit: cover;
    justify-self: center;
    backdrop-filter: blur(15px);
    padding: 0;
    z-index: 2;
    position: relative;
    transition: background .1s linear;
}
#chapter:hover .title {
    background: var(--btn);
    backdrop-filter: blur(15px);
}
