.review-title {
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    display: flex;
    width: 98vh;
    justify-content: space-between;
    align-content: center;
    padding: 1vh;
    margin: 0;
}
.review-popup{
    position: fixed;
    inset: 0;
    background: transparent;
    display: none;
    color: white;
    z-index: 1;
}
.review-topictext[contenteditable="true"]:empty::before {
    content: attr(placeholder);
    color: var(--text-dark-gray);
    pointer-events: none;
    display: block;
}
.review-topictext:empty::before {
    content: attr(placeholder);
    color: var(--text-dark-gray);
    pointer-events: none;
}
#review{
    position: relative;
    justify-content: center;
    align-content: center;
    backdrop-filter: blur(3vh);
    max-width:100%;
    max-height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.review-topic {
    font-family: 'Gantari';
    margin: 0;
    font-size: 4vh;
    flex: 1;
    font-weight: 900;
    -webkit-text-stroke: .1vh var(--text);
    letter-spacing: .1vw;
    align-items: center;
    background-color: var(--tab);
    color: var(--text);
    padding: .5vh .7vw 0 .7vw;
    text-align: center;
    border-radius: 1.3vh 1.3vh 0 0;
    height: fit-content;
    transition: background .15s linear;
    text-transform: uppercase;
}
.review-topic i {
    margin-right: .2vw;
    font-size: 2.5vh;
}
.review-topic-div {
    padding:.8vh .5vw .5vh .5vw;
    margin: 0;
    border: solid .5vh var(--tab);
    border-radius: 0 0 1.3vh 1.3vh;
    transition: border .15s linear;
    height: 15vh;
}
.review-topictext {
    font-family: 'Montserrat';
    margin: 0;
    flex: 1;
    height: 14vh;
    padding: 0 0 .4vh 0;
    font-size: 2.6vh;
    overflow-y: auto;
    caret-color: var(--text);
    user-select: text;
    -webkit-mask-image: linear-gradient(
        to bottom,
        var(--bg) 85%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to bottom,
        var(--bg) 95%,
        transparent 100%
    );
}
.focused .review-topic-div {
    border-color: var(--tab-active);
}
.focused .review-topic {
    border-color: var(--tab-active);
    background-color: var(--tab-active);
}
.reviewTopic-big {
    width: 100%;
}
.reviewTopic-mapa {
    height: fit-content;
}
.reviewTopic-smaller {
    width: 90%;
}
.reviewTopic-small {
    width: 75%;
}
.review-topictext[contenteditable="true"]:empty {
    cursor: text;
}
.sep-bar-review {
    margin: 1vh 0;
    margin-right: 2vh;
    border: solid 2px #1a1a1a73;
    border-radius: 1vh;
}
.review-content {
    margin: 10vh 20vh;
    margin-bottom: 15vh;
    z-index: 999;
}
.reviews {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
    height: 100%;
    width: 100%;
    gap: 1.5vh;
}
.review-nocontent {
    font-family: 'Montserrat';
    font-size: 3rem;
    margin: 0;
    margin-bottom: 8px;
    font-size: 23px;
    width: 100%;
}
.review-section {
    display: flex;
    flex-direction: column;
}
.review-two {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    gap: .75vw;
    height: fit-content;
}
.review-header {
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    border-radius: 1.3vh 1.3vh 0 0;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-content: center;
    padding: 1vh;
    margin: 0;
}
.review-close {
    z-index: 2;
    right: 0;
    height: 3vh;
    width: auto;
    margin: .1vh;
    cursor: pointer;
    padding: 1vh;
    border-radius: 1vh;
    transition: .15s;
}
.review-close:hover {
    background: #0e0e0e;
}
#map {
    height: 60vh;
    border-radius: 1vh;
}