@import url('../fonts/css/all.min.css');

@font-face {
    font-family: 'HeadingNow';
    src: url(../fonts/HeadingNowTrial-68Heavy.ttf) format('truetype');
    font-display: block;
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Variable-Font.ttf) format('truetype');
    font-display: block;
}
i {
    color: white;
}
#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 98;
    opacity: 1;
    transition: opacity 0.4s ease-in-out, visibility 0.4s;
    border-radius: inherit;
    overflow: hidden;
}
#loading-screen.hidden {
    visibility: hidden;
}
.spinner {
    border: 1.3vh solid rgba(0, 0, 0, 0.244);
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    border-left-color: var(--text);
    animation: spin 1s linear infinite;
}
.sep-bar-v {
    margin: 0 .4vw;
    border: solid .4vh var(--sep-bar);
    border-radius: 1vh;
    justify-content: center;
}
#starting-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    transition: opacity 0.5s ease;
    border-radius: inherit;
    overflow: hidden;
}
.loading-content {
    text-align: center;
    width: 80%;
    max-width: 28vw;
}
#loading-details {
    color: var(--text-gray);
    margin-bottom: 2.5vh;
    font-size: 2vh;
    font-weight: 600;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}
#loading-title {
    font-weight: 1000;
    font-size: 4vh;
    margin: 0;
}

.progress-container {
    width: 100%;
    height: 10px;
    background-color: rgba(25,25,25,.4);
    border-radius: 1vh;
    overflow: hidden;
}

#progress-bar-fill {
    position: relative;
    width: 0%;
    height: 100%;
    background-color: var(--blue);
    transition: width 0.2s ease;
    overflow: hidden;
}
#update-text {
    filter: drop-shadow(0 0 1vh rgb(0, 0, 0));
    display: none;
}
#update-bar {
    position: relative;
    width: 0%;
    height: 100%;
    background-color: var(--blue);
    transition: width 0.2s ease;
    overflow: hidden;
}
#update-modal {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    margin-right: 1vw;
    color: var(--blue);
    align-items: center;
    gap: .5vw;
    font-size: 2.4vh;
    font-weight: 600;
}
#progress-wrapper {
    width: 6vw;
    height: 1.3vh;
    display: none;
    background: rgba(25,25,25,.4);
    border-radius: 5px;
    overflow: hidden;
}
#btn-restart {
    background-color: var(--blue);
    color: white;
    padding: .5vh .5vw;
    border-radius: 1vh;
    gap: .5vw;
    transition: background .1s linear;
    display: none;
}
#btn-restart:hover {
    background-color: rgb(50, 160, 255);
    cursor: pointer;
}
#btn-restart i {
    font-size: 2.2vh;
}
.shine-effect {
    position: absolute;
    top: 0;
    left: -10vw;
    width: 10vw;
    height: 100%;
    
    background: linear-gradient(
        90deg, 
        transparent, 
        rgba(255, 255, 255, 0.3), 
        transparent
    );

    animation: shine 2s infinite linear;
}
.shine-effect-v {
    position: absolute;
    top: -25vw;
    width: 100%;
    height: 15vw;
    
    background: linear-gradient(
        transparent,
        rgba(255, 255, 255, 0.05),
        transparent
    );

    animation: shine-v 1.3s infinite linear;
}

@keyframes shine-v {
    0% { bottom: -10vw; }
    100% { top: 100%; }
}
@keyframes shine {
    0% { left: -10vw; }
    100% { left: 100%; }
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}
html {
    scroll-behavior: smooth;
    scroll-padding: 1vh;
    overflow-x: hidden;
    background: transparent !important;
    user-select: none;
}
body {
    color: var(--text);
    padding: 0;
    margin: 0;
    height: 100vh;
    z-index: 0;
    width: 100vw;
    overflow: hidden;
    background: transparent !important;
}
.pageBody {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent !important;
}

/* Estado Base do Container: Quadrado por padrão (Maximizado) */
.app-container {
    background-color: var(--bg);
    transition: background .2s;
    border-radius: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-shadow: none;
}

/* Estado Modo Janela: Aplica as bordas arredondadas suavizadas nativas */
html.window-maximized .app-container {
  border-radius: 0 !important;
  clip-path: none !important;
}

/* Estado Modo Janela: Aplica as bordas arredondadas */
html.window-normal .app-container {
  border-radius: 1vh !important;
  overflow: hidden !important;
  isolation: isolate;
  clip-path: inset(0 round 1vh);
}

#menu {
    padding: .9vh 0 1vh 1vw;
    height: 4.5vh;
    width: 100%;
    display: flex;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    user-select: none;
    overflow: hidden;
    -webkit-app-region: drag;
}
#menuTitle {
    margin-left: 1vh;
    color: var(--text);
    font-family: 'Montserrat';
    font-size: 2.4vh;
    font-weight: 600;
}
#update-btn {
    -webkit-app-region: no-drag;
    display: none;
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: var(--blue);
    color: var(--text);
    border: none;
    font-size: 2vh;
    margin-left: auto;
    margin-right: 2vh;
    padding: .5vh .5vw;
    border-radius: 1vh;
    cursor: pointer;
}
.menuButtons {
    -webkit-app-region: no-drag;
    margin: 0 1.9vh 0 0;
    display: flex;
    flex-direction: row;
}
#menuMin, #menuMax, #menuClose {
    color: var(--text);
    object-fit: cover;
    padding: 2vh;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
#menuMin:hover, #menuMax:hover {
    background-color: rgba(255, 255, 255, .1);
}
#menuClose:hover {
    background-color: var(--red);
    color: white;
}
#menu {
  -webkit-app-region: drag;
}

#menuMin,
#menuMax,
#menuClose,
#update-btn,
.menuButtons,
.no-drag {
  -webkit-app-region: no-drag;
}

[data-tooltip] {
    position: relative;
}
[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translate(0%, -50%);
    padding: 0 1.2vw;
    border-radius: .8vh;
    font-size: 2.2vh;
    font-family: 'Montserrat';
    font-weight: 600;
    white-space: nowrap;
    opacity: 0;
    top: 50%;
    pointer-events: none;
    transition: opacity .1s ease, transform .1s ease;
}
#config[data-tooltip]::after {
    transform: translate(-100%, -50%);
}
#config[data-tooltip]:hover::after {
    transform: translate(-108%, -50%);
}
[data-tooltip]:hover::after {
    opacity: 1;
    transform: translate(8%, -50%);
}
.drag {
    -webkit-app-region: drag;
}
.no-drag {
    -webkit-app-region: no-drag;
}
.back {
    border-radius: 4vh;
    border: solid .6vh transparent;
    transition: border 0.25s ease-in-out;
    padding: 0 .5vw;
    font-size: 3vh;
    color: var(--text);
    font-family: 'Montserrat';
    font-weight: 700;
    position: absolute;
    margin: 0 0 0 .5vw;
    left: 0;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}
.back i {
    color: var(--text);
    font-size: 2.5vh;
    width: fit-content;
    margin-right: .3vw;
}
.back:hover {
    border: solid .6vh var(--text);
}
button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.close-popup:hover {
    cursor: pointer;
    border: solid 4px white;
}
#button_home:hover {
    cursor: pointer;
    border-radius: 2vh;
    padding: 0 4px 2px 5px;
    border: solid 4px white;
}
#button:hover {
    cursor: pointer;
    border-radius: 3vh;
    padding: .4rem;
    border: solid 4px white;
}

.icon {
    position: relative;
    transform: translateY(15%);
    font-weight: 900;
}

header {
    height: 7vh;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 1vh;
    overflow: hidden;
    text-align: center;
}
.home {
    color: white;
    border-radius: 2vh;
    padding: 0 4px 2px 5px;
    border: solid 4px transparent;
    transition: all 0.25s ease-in-out;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    position: absolute;
    left: 0;
    margin-left: 28px;
    user-select: none;
}
.title {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 800;
    color: white;
}
::-webkit-scrollbar {
    width: .4vw;
    cursor: default;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #111;
    border-radius: 1vh;
}
::-webkit-scrollbar-thumb:hover {
    background: #515151;
    cursor: default;
}
.sep-bar {
    margin: 8px 4px;
    border: solid 2px var(--sep-bar);
    border-radius: 8px;
    justify-content: center;
}
.close-popup{
    font-family: 'Montserrat';
    position: absolute;
    font-weight: 900;
    z-index: 2;
    right: 0;
    font-size: 2rem;
    border-radius: 50%;
    color: white;
    padding: 4px 16px;
    margin: 0 4vh;
    border: solid 4px transparent;
    transition: all 0.1s linear;
    transform: translateY(60px);
}
footer {
    margin-top: 2vh;
}
[contenteditable="true"] {
    background: transparent;
    outline: none;
    border: none;
    color: inherit;
    caret-color: transparent;
}
[contenteditable="true"]:focus {
    outline: none;
}
[contenteditable="true"]::spelling-error {
    text-decoration: none;
    background-color: transparent;
}