@import url(basics.css);

.pageBody {
    display: flex;
    flex-direction: row;
    transform: translateY(6.5vh);
    height: 86.5vh;
}

.config-item {
    display: flex;
    align-items: center;
    height: 3.5vh;
    gap: .5vw;
    margin: .6vh 0 0 0;
    font-family: 'Montserrat';
    color: var(--text);
    border-radius: 1.6vh;
    flex-direction: row-reverse;
    font-weight: 500;
    justify-content: start;
}
.tabs {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 2vh 0 0 1vw;
    gap: 1vh;
}

.tab {
    font-family: 'Montserrat';
    background-color: var(--tab);
    color: var(--text);
    display: inline-block;
    width: 90%;
    font-weight: 500;
    padding: 2vh 1vw;
    height: 3vh;
    border-radius: 1.5vh;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s, border .2s;
    align-items: center;
}
.tab i {
    font-size: 2.6vh;
    color: var(--text);
    margin: 0 .4vw 0 0;
}
.i {
    font-size: 2.6vh;
    color: var(--text);
    margin: 0 .4vw 0 0;
    height: 2.6vh;
}
.tab.active {
    background-color: var(--tab-active);
}
.tab:hover {
    background-color: var(--tab-hover);
}

.tab-configs {
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw 0 .6vw;
    width: 100%;
    display: none;
}
.tab-configs.active {
    display: flex;
}

.toggle.active {
    background-color: var(--blue);
}
.sep {
    font-family: 'Montserrat';
    color: var(--text);
    font-weight: 800;
    font-size: 4vh;
    margin: 2.5vh 0 .1vh 0;
}
.toggle {
    display: inline-block;
    width: 3.3vw;
    height: 3.2vh;
    background-color: var(--tab-hover);
    border-radius: 1.2vh;
    position: relative;
    cursor: pointer;
    transition: background-color 0.15s, border .2s;
}

.toggle::after {
    content: '';
    position: absolute;
    width: 2.18vh;
    top: .05rem;
    height: 2.16vh;
    border-radius: 1.25vh;
    background-color: var(--text);
    transition: transform 0.1s, border .2s;
    object-fit: cover;
    border: solid .5vh var(--tab-hover);
}
#app-version {
    color: var(--text-dark-gray);
    font-family: 'Montserrat';
    font-size: 2.5vh;
    font-weight: 600;
    user-select: none;
    left: 1.5vw;
}
.toggle.active::after {
    transform: translateX(1.65vw);
    border: solid .5vh var(--blue);
}
.sep-bar {
    margin: 0 .5vw 0 .1vw;
    border: solid .4vh var(--sep-bar);
    border-radius: 1vh;
    justify-content: center;
}
.path {
    background-color: var(--tab-hover);
    padding: 1vh .6vw;
    border-radius: 1vh;
}

.theme-selector-div {
    position: relative;
    font-family: 'Montserrat';
    user-select: none;
    font-weight: 600;
    width: 100%;
}
.themeSelector-select {
    margin: 0;
    display: grid;
    padding: 0;
    height: fit-content;
    grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));

}
.sorting-options select {
    display: none;
}
.sortingOptions-trigger {
    background-color: rgba(20, 20, 20, 0.4);
    padding: .5vh .5vw;
    border-radius: 1vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    transition: background 0.2s ease;
    width: 9.5vw;
}
.sortingOptions-select {
    position: absolute;
    top: 4.5vh;
    left: 0;
    right: 0;
    background-color: rgb(10,10,10);
    border-top: none;
    border-radius: 1vh;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    overflow: hidden;
}
.themeSelector-select li:hover {
    border: solid .6vh var(--text);
}
.themeSelector-select li {
    display: flex;
    align-items: center;
    gap: .5vh;
    padding: .8vh .2vw;
    color: var(--text);
    cursor: pointer;
    transition: border 0.2s;
    flex-direction: column;
    border: solid .6vh transparent;
    border-radius: 2vh;
}
.themes {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
#theme-selector {
    display: none;
}
.themeSelector-btn span {
    display: none;
}
/* Estilo da bolinha de preview da cor */
.theme-color-preview {
    height: 12vh;
    width: 12.7vw;
    border-radius: 1vh; /* Torna redondo */
    display: inline-block;
    border: 1px solid var(--text-dark-gray); /* Bordinha sutil para cores muito escuras não sumirem */
    flex-shrink: 0; /* Impede a bolinha de achatar se o texto for grande */
}

.btn {
    font-family: 'Montserrat';
    font-family: 2vh;
    font-weight: 600;
    background-color: var(--btn-color);
    padding: 1vh .7vw;
    border-radius: 1vh;
    cursor: pointer;
    transition: background .15s linear;
    width: fit-content;
}
.checkUpdates {
    margin: .5vh 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8vw;
}
#checkUpdates-text {
    font-family: 'Montserrat';
    font-family: 2vh;
    font-weight: 600;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: color .15s linear;
    width: fit-content;
}
.btn:hover {
    background-color: var(--btn-hover-color);
}