@import url(basics.css);

.pageBody {
    padding-top: 0;
    overflow-y: auto;
}
#menu {
    background: transparent;
}

.config {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3vh;
    height: fit-content;
}
.app-version {
    color: #494949;
    font-family: 'Montserrat';
    position: absolute;
    bottom: 0;
    font-size: 2.5vh;
    font-weight: 600;
    user-select: none;
    left: 0;
    margin: 3vh;
}
#config {
    font-size: 3.8vh;
    cursor: pointer;
}

/* Banner */
.banner {
    height: 18vh;
    background-image: url(assets://default-banner.jpg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 1.5vh;
}
.logo-banner {
    height: 16vh;
    user-select: none;
}

/* Seção de páginas */
.pages-section {
    gap: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 14.8vw;
    padding-top: 2vh;
}

/* Páginas */
.page {
    text-decoration: none;
    width: 45vh;
    border-radius: 1.3vh;
    transition: transform .15s;
    overflow: hidden;
    cursor: pointer;
}
.page:hover {
    transform: translateY(-.7vh);
}
.page-image {
    height: 25vh;
    overflow: hidden;
    transform: translateY(0);
    background-color: rgba(30,30,30,.1);
}
.sep-bar {
    margin: 1.8vh 14.8vw 1vh 14.8vw;
    border: solid .4vh rgba(25,25,25,.2);
    transform: translateY(0);
}
.page-image img {
    object-fit: cover;
    height: 25vh;
    width: 100%;
}
#latest-season {
    height: 25vh;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
#latest-season[src=""],
#latest-season:not([src]) {
    opacity: 0;
}
.page-title {
    color: white;
    font-family: 'Montserrat';
    font-size: 2.8vh;
    font-weight: 800;
    margin: .8vh 0;
    text-align: center;
}
.info {
    display: flex;
    justify-content: center;
    gap: 1vh;
    height: 3vh;
}
.info p {
    background-color: rgba(20, 20, 20, 0.75);
    color: white;
    font-family: 'Montserrat';
    font-size: 1.7vh;
    height: 2.3vh;
    font-weight: 500;
    margin: 0;
    padding: .4vh .6vw;
    border-radius: .8vh;
    display: inline-block;
    align-self: center;
    text-align: center;
}
.info p:empty {
    display: none;
}

/* Painel de Jogos */
#playingNowSection-title {
    display: flex;
    color: white;
    font-family: 'Montserrat';
    font-size: 4.4vh;
    font-weight: 600;
    margin: 0 14.8vw .7vh 14.8vw;
    padding: 0;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#playingNowSection-title p {
    margin: 0;
}
#playingNowSection-title i {
    margin-right: 1vh;
}
.playingNow-panel {
    gap: 2vh;
    display: flex;
    flex-direction: row;
    margin: 0 14.8vw;
    justify-content: center;
    user-select: none;
}
#playingNow-games {
    padding: 1.5vh;
    padding-top: .8vh;
    border-radius: 1.6vh;
    width: 60vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    display: flex;
    flex-direction: column;
}
.playingNow-no-games {
    color: rgb(30,30,30);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5vw;
    text-align: center;
    margin: 3vh 0;
}

/* Jogos */
.game {
    width: 30vw;
    background-color: rgba(20, 20, 20, 0.2);
    border-radius: 1.4vh;
    overflow: hidden;
}
.game-cover {
    height: 20vh;
    object-fit: cover;
    margin-bottom: .2vh;
    width: 100%;
}
.game-info {
    display: flex;
    flex-direction: column;
    padding: 1.6vh 1vw;
    padding-top: .5vh;
}
.game-title {
    font-size: 2.5vh;
    flex: 1;
    font-family: 'Montserrat';
    font-weight: 700;
    color: white;
    margin: 0;
}
/* Status dos jogos */
.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    position: relative;
    background-color: rgba(20, 20, 20, 0.4);
    border-radius: .8vh;
    overflow: hidden;
    padding: 0;
    margin: 1vh 0 0 0;
    height: 1vh;
    width: 100%;
    flex: none;
}
.status-fill {
    display: inline-block;
    object-fit: cover;
    border-radius: 0;
    position: absolute;
    background: var(--blue);
    overflow: hidden;
    padding: 0;
    height: 1vh;
    width: 100%;
    flex: none;
}
.status-percentage {
    color: rgb(170, 170, 170);
    position: absolute;
    font-family: 'Montserrat';
    font-size: 1.1vw;
    font-weight: 700;
    z-index: 1;
    left: 1vh;
}
.jogando-text {
    color: var(--blue);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2.5vh;
    padding: 0;
    margin: .5vh 0 0 0;
}

/* Fortnite */
.recentSeason-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recent-season {
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: rgba(20, 20, 20, 0.2);
    gap: .7vw;
    border-radius: 1.8vh;
    padding: 1vh .65vw;
    overflow: hidden;
}
.recentSeason-panel img {
    width: 28vw;
    border-radius: 1vh;
}
.season-status {
    width: 20vw;
}
.a {
    background-color: #494949;
    height: 1.2vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 1vh;
}
.b {
    background-color: var(--blue);
    width: 50%;
    padding: 0;
    height: 100%;
    margin: 0;
}
.level-status, .win-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 1vh 0 .4vh 0;
    object-fit: cover;
}
.level-status p, .win-status p {
    padding: 0;
    margin: 0;
}