@import url(basics.css);

.pageBody {
    padding-top: 0;
    overflow-y: auto;
}
#menu {
    background: transparent;
}
#menuTitle, #menuMin, #menuMax, #menuClose {
    color: white;
}
.app-version {
    color: var(--text-dark-gray);
    font-family: 'Montserrat';
    position: absolute;
    font-size: 2.5vh;
    font-weight: 600;
    user-select: none;
    left: 0;
}
.config {
    position: absolute;
    right: 0;
    height: fit-content;
    width: fit-content;
}
#config {
    color: var(--text);
    font-size: 3.5vh;
    cursor: pointer;
}
#config[data-tooltip]::after {
    transform: translate(-80%, -200%);
}
#config[data-tooltip]:hover::after {
    transform: translate(-80%, -250%);
}
header {
    padding: 0;
    margin: 0 1.5vw;
    z-index: 97;
    height: 8vh;
    overflow: visible;
}

/* Banner */
.banner {
    height: 18vh;
    background-position: center;
    background-size: 300%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 0; 
    margin: 1.5vh 0 1.6vh 0;
}
.boltnotes-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh; 
    width: fit-content;
}
.boltnotes-logo {
    height: 18vh;
    width: 18vw;
    background-color: white;
    mask: url(assets://boltnotes-logo.svg) no-repeat center / contain;
    -webkit-mask: url(assets://boltnotes-logo.svg) no-repeat center / contain;
    user-select: none;
}
.fortnite-icon {
    height: 12vh;
    width: 11vw;
    background-color: var(--text-dark-gray);
    mask: url(assets://fortnite-icon.svg) no-repeat center / contain;
    -webkit-mask: url(assets://fortnite-icon.svg) no-repeat center / contain;
    user-select: none;
    font-size: 15vh;
    color: var(--text-dark-gray);
    opacity: .1;
    z-index: 1;
    margin-bottom: .9vh;
    transform: translateX(.15vw);
}

/* Seção de páginas */
.pages-section {
    gap: .8vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10vw;
}

/* Páginas */
.page {
    text-decoration: none;
    width: 49vh;
    border-radius: 1.2vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: .8vh;
    transition: transform .05s linear;
}
.page:hover {
    transform: scale(1.02);
}
.page-infos {
    height: 40vh;
    margin: 0 10vw;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.page-image {
    height: 28vh;
    overflow: hidden;
    transform: translateY(0);
    background: linear-gradient(to bottom, var(--tab-hover), var(--tab-active));
    display: flex;
    width: 100%;
    flex-direction: row;
}
.text-backlog {
    font-family: 'Vazirmatn';
    font-weight: 200;
    margin: 0;
    color: var(--text);
    font-size: 3.16vh;
    height: 3.16vh;
}
.text-br {
    font-family: 'Vazirmatn';
    font-weight: 400;
    color: var(--text);
    font-size: 2.75vh;
    height: 2.75vh;
    margin: 0 0 2.5vh 0;
}
.games-backlog-icon {
    font-size: 15vh;
    color: var(--text-dark-gray);
    opacity: .1;
    z-index: 1;
    transform: translateX(.15vw) translateY(-.5vh);
}
.text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    transform: translateX(-2.5vw);
    width: fit-content;
}
.fortnite-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    transform: translateX(-2.65vw);
    width: fit-content;
    z-index: 1;
}
.page-image-sidebar {
    width: 35%;
    background-color: var(--tab);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
}
.page-image-sidebar div {
    background-color: var(--tab-active);
    height: 4vh;
    margin: .5vh .5vw;
    border-radius: 1vh;
}
.text-games {
    font-family: 'Gantari';
    font-weight: 900;
    color: var(--text);
    margin: 0;
    font-size: 5.5vh;
    -webkit-text-stroke: .15vh var(--text);
    height: 5.5vh;
    margin: 0 0 2vh 0;
}
.text-notes {
    font-family: 'Vazirmatn';
    font-weight: 200;
    color: var(--text);
    margin: 0;
    font-size: 5.5vh;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-image-text {
    justify-content: center;
    /* background-image: url(assets://fortnite-logo.svg); */
    align-items: center;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99;
    background-color: var(--text);
    mask: url(assets://fortnite-logo.svg) no-repeat center / contain;
    -webkit-mask: url(assets://fortnite-logo.svg) no-repeat center / contain;
    user-select: none;
    opacity: 1;
    background-clip: padding-box;
    font-size: 5.5vh;
    height: 5.5vh;
    margin: 1.5vh 0 0 0;
}
.sep-bar {
    margin: 1.8vh 0 .7vh 0;
    justify-content: center;
    border: solid .4vh var(--sep-bar);
    width: 100vw;
}
.page-image img {
    object-fit: cover;
    width: 100%;
    z-index: 2;
}
.page-title {
    color: var(--text);
    font-family: 'Montserrat';
    font-size: 2.8vh;
    font-weight: 800;
    margin: .8vh 0;
    text-align: center;
}
.info {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
    background-color: var(--tag);
    padding: .5vh 0 .6vh 0;
    height: 3vh;
}
.info p {
    color: var(--text);
    font-family: 'Montserrat';
    font-size: 2vh;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border-radius: .7vh;
    display: inline-block;
    align-self: center;
    text-align: center;
}
.info p:empty {
    display: none;
}

/* Painel de Jogos */
#featured-title {
    display: flex;
    color: var(--text);
    font-family: 'Montserrat';
    font-size: 4vh;
    font-weight: 600;
    margin: 0;
    gap: .5vw;
    padding: 0;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    user-select: none;
}
#featured-title p {
    margin: 0;
}
#featured-title i {
    color: var(--text);
    font-size: 3.5vh;
}
.playingNow-panel {
    gap: .7vw;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    user-select: none;
    height: 34vh;
    align-items: center;
}
#playingNow-games {
    padding: 1.5vh;
    padding-top: .8vh;
    border-radius: 1.6vh;
    width: 60vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    display: flex;
    flex-direction: column;
}
.playingNow-no-games {
    color: var(--text-dark-gray);
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.5vw;
    text-align: center;
    margin: 0;
    opacity: .5;
    transform: translateY(-1.6vh);
}

/* Jogos */
.game {
    width: 27vw;
    border-radius: 2vh;
    overflow: hidden;
    height: 90%;
    gap: 0;
    display: flex;
    flex-direction: column;
    border: .6vh solid var(--blue);
    transition: transform .1s ease-in-out, background .1s linear;
}
.game:hover {
    transform: scale(1.015);
    cursor: pointer;
}
.game-cover {
    height: 21.5vh;
    object-fit: cover;
    margin: 1vh .5vw 0 .5vw;
    border-radius: .8vh .8vh 0 0;
}
.game-info {
    display: flex;
    flex-direction: column;
    margin: 0 .5vw 1vh .5vw;
    height: 100%;
    background-color: var(--tab-hover);
    border-radius: 0 0 .8vh .8vh;
}
.game-title {
    font-size: 2.5vh;
    flex: 1;
    font-family: 'Montserrat';
    font-weight: 700;
    color: var(--text);
    margin: .6vh .5vw;
    width: 96%;
}
/* Status dos jogos */
.playingNow-panel .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    position: relative;
    background-color: rgba(20, 20, 20, 0.4);
    border-radius: .8vh;
    overflow: hidden;
    padding: 0;
    margin: 1vh 0 0 0;
    height: 1vh;
    width: 100%;
    flex: none;
}
.status-fill {
    display: inline-block;
    object-fit: cover;
    border-radius: 0;
    position: absolute;
    background: var(--blue);
    overflow: hidden;
    padding: 0;
    height: 1vh;
    width: 100%;
    flex: none;
}
.status-percentage {
    color: rgb(170, 170, 170);
    position: absolute;
    font-family: 'Montserrat';
    font-size: 1.1vw;
    font-weight: 700;
    z-index: 1;
    left: 1vh;
}
.game.jogando .status-text {
    color: var(--blue);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2.5vh;
    padding: 0;
    margin: .5vh 0 0 0;
}

/* Fortnite */
.recentSeason-panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recent-season {
    display: flex;
    flex-direction: row;
    width: max-content;
    background-color: var(--tab-hover);
    gap: 1vw;
    width: fit-content;
    border-radius: 1.5vh;
    padding: 1.2vh;
    overflow: hidden;
    height: 30vh;
}
#recent-season-name {
    margin: 0;
    font-size: 4vh;
    font-weight: 900;
    font-family: 'Montserrat';
}
.recentSeason-panel img {
    width: 22vw;
    height: 25vh;
    object-fit: cover;
    border-radius: 1vh;
}
.season-status {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 97.7%;
    justify-content: space-between;
}

.status {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 3vh;
    margin: 0;
    color: var(--text);
    display: flex;
    flex-direction: row;
    gap: .5vw;
    align-items: center;
    user-select: none;
}
.season-status-div {
    display: flex;
    flex-direction: column;
    gap: 1.1vh;
}
.recentSeason-image {
    height: 100%;
    width: 28vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transform: translateY(0);
    border-radius: 1vh;
    background-color: rgba(30,30,30,.1);
}
.level-progress-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2.7vh;
    margin: 0;
    color: var(--btn-color);
    display: flex;
    gap: .3vw;
    align-items: center;
    user-select: none;
}
.level-progress {
    margin: 0 0 0;
}
.fa-square-caret-up, .fa-trophy {
    font-size: 3vh;
    color: var(--text);
    width: fit-content;
}
.statusLevel-add, .statusLevel-minus, .statusWin-add, .statusWin-minus {
    font-size: 2vh;
    color: var(--text);
    padding: .8vh .8vw;
    width: fit-content;
    border-radius: .8vh;
    transition: background .1s linear;
    display: flex;
}
.statusLevel-add:hover, .statusLevel-minus:hover, .statusWin-add:hover, .statusWin-minus:hover {
    background: var(--btn-hover);
    cursor: pointer;
}
.status-level {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}
.status-win {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}
.level-progress-bar {
    background-color: var(--tag);
    height: 1.2vh;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 1vh 0 0 0;
    border-radius: 1vh;
}
.level-progress-bar-fill {
    background-color: var(--btn-hover-color);
    width: 0%;
    padding: 0;
    height: 100%;
    margin: 0;
}
.level-status, .win-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.7vh;
    margin: 1vh 0 .4vh 0;
    object-fit: cover;
}
.level-status p, .win-status p {
    padding: 0;
    margin: 0;
}


#changelog-popup {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 98;
    backdrop-filter: blur(1px);
}
#changelog-popup i {
    color: var(--text-gray);
}
.changelog-content {
    background-color: var(--bg);
    border-radius: 1.5vh;
    padding: 1.5vh 1vw 2vh 1vw;
    max-width: max-content;
    width: 100%;
    font-family: 'Montserrat';
    color: var(--text);
    animation: changelog-pop 0.25s ease;
}

@keyframes changelog-pop {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.changelog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
    margin: 0;
}
.changelog-sep-bar {
    margin: .4vh 0 .01vh 0;
    justify-content: center;
    border: solid .4vh var(--sep-bar);
    transform: translateY(0);
    width: 99%;
}
#changelog-version {
    font-size: 4vh;
    font-weight: 900;
    margin: 0;
    color: var(--text);
    display: flex;
    flex-direction: row;
    gap: .5vw;
    width: max-content;
    align-items: center;
    white-space: nowrap;
}
.changelog-category {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3vw;
    margin: 0;
    padding: 0;
}
.changelog-category {
    margin: 0;
    padding: 0;
}
.changelog-category-text {
    font-size: 4vh;
    font-weight: 900;
    margin: 0;
    padding: 0;
    color: var(--text);
}
#changelog-version i {
    font-size: 4vh;
    color: var(--text);
}
.changelog-topic {
    display: flex;
    flex-direction: row;
    gap: .5vw;
    align-items: center;
}
#changelog-list {
    list-style: none;
    margin: 0 0 0 .5vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 35vh;
    max-height: 35vh;
    overflow-y: auto;
    gap: .5vh;
    user-select: text;
    cursor: default;
}
#changelog-list i {
    font-size: 2.5vh;
    margin-right: .4vw;
    width: 2.6%;
}
#changelog-list li {
    font-size: 2.2vh;
    font-weight: 400;
    color: var(--text);
    line-height: 1.4;
    width: 30vw;
    position: relative;
    align-items: center;
}
#changelog-list li i {
    color: var(--text-light-gray);
}
#close-changelog-btn {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 3vh;
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: border 0.15s linear;
    border: solid .6vh transparent;
    padding: .5vh .3vw;
}
#close-changelog-btn:hover {
    border: solid .6vh var(--text);
}
#close-changelog-btn::before {
    color: var(--text);
}


@keyframes popupIn {
    from { opacity: 0; transform: scale(0.95) }
    to { opacity: 1; transform: scale(1) }}
@keyframes popupOut {
    from { opacity: 1; transform: scale(1) }
    to { opacity: 0; transform: scale(0.95) }}

.game-popup-div{
    position: absolute;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 98;
    background: rgba(0,0,0,.6);
    margin: 0;
    height: 100vh;
    transition: background 1s linear;
    animation: popupBGIn .5s ease forwards;
    backdrop-filter: blur(4px);
}
.game-popup {
    background: var(--bg);
    border-radius: 1.6vh;
    overflow: hidden;
    width: 60vw;
    height: 70vh;
    z-index: 99;
    animation: popupIn .2s ease forwards;
}
.game-popup.is-closing {
    animation: popupOut .2s ease forwards;
}
.game-banner-div {
    overflow: hidden;
    height: 21vh;
    width: 100%;
}
.game-banner {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.game-logo {
    position: absolute;
    margin: 0;
    max-width: 40%;
    max-height: 15vh;
    left: 20vw;
    align-self: center;
    transform: translateX(-15vw) translateY(-.4vh) scale(1.2);
    font-weight: 900;
    font-size: 6vh;
}
.game-logo:not([src]), 
.game-logo[src=""] {
    visibility: hidden;
}
.game-logo:not([src])::before, 
.game-logo[src=""]::before {
    content: attr(alt); 
    visibility: visible;
    display: flex;
    font-weight: 900;
    font-size: 6vh;
    color: white;
    max-width: 100%;
    white-space: nowrap; 
}
.game-status-div{
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--tab);
    padding: 1.2vh .7vw;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.achie-info {
    width: 21.3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .4vw;
}
.achie-info p {
    margin: 0;
    font-weight: 700;
    color: var(--blue);
}
.achie-bar {
    width: 18vw;
    flex: 1;
    display: flex;
    height: 1vh;
    background-color: var(--tag);
    margin: 0;
    overflow: hidden;
    border-radius: 1vh;
}
.achie-bar-fill {
    width: 100%;
    height: 1vh;
    background-color: var(--blue);
    margin: 0;
}
.game-popup-status {
    display: flex;
    flex-direction: row;
    gap: .6vw;
}
.game-popup-info {
    display: flex;
    flex-direction: row;
    gap: .7vw;
}
.achie-quant {
    font-size: 2vh;
    font-weight: 700;
    align-self: center;
}
.campaign-status-tag {
    font-size: 2vh;
    font-weight: 700;
    background-color: var(--green);
    width: fit-content;
    border-radius: .8vh;
    padding: .3vh .4vw .3vh 1.5vw;
    color: var(--text-green);
    cursor: pointer;
}
.campaign-status-tag::before {
    content: '';
    position: absolute;
    width: .8vw;
    height: 1.5vh;
    border-radius: 50%;
    background-color: var(--green-light);
    object-fit: cover;
    align-self: center;
    transform: translateX(-1.08vw);
}
.campaign-status-tag.jogando {
    background-color: var(--blue);
    color: var(--text-blue);
}
.campaign-status-tag.jogando::before {
    background-color: var(--blue-light);
}
.campaign-status-tag.ajogar {
    background-color: var(--text-dark-gray);
    color: var(--text-gray);
}
.campaign-status-tag.ajogar::before {
    background-color: var(--text-gray);
}
.achie-status-tag.platinando {
    background-color: var(--orange);
    color: var(--text-orange);
}
.achie-status-tag.platinando::before {
    background-color: var(--orange-light);
}
.achie-status-tag.aplatinar {
    background-color: var(--text-dark-gray);
    color: var(--text-gray);
}
.achie-status-tag.aplatinar::before {
    background-color: var(--text-gray);
}
.game-content {
    margin: 2vh 1vw 2vh 1vw;
    height: fit-content;
}
.achie-info-title {
    display: flex;
    flex-direction: row;
    margin: 0;
    position: relative;
    width: 21.3vw;
    justify-content: space-between;
    overflow: hidden;
}
.achie-info-title-text {
    margin: 0;
    font-weight: 900;
    font-size: 3vh;
    color: var(--text-light-gray);
}
.achie-info-title-numbers {
    margin: 0;
    font-weight: 600;
    font-size: 2.25vh;
    align-self: center;
    overflow: hidden;
    color: var(--text-gray);
}
.dev-pub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-weight: 500;
    font-size: 1.8vh;
    position: relative;
    overflow: hidden;
    color: var(--text-dark-gray);
}
.game-popup-title {
    overflow: hidden;
    white-space: nowrap;
    max-width: 5.5vw;
    padding-left: 0%;
    color: var(--text);
}
.dev-name, .pub-name {
    font-size: 2vh;
    font-weight: 700;
    margin: 0;
    animation: scroll-text 6s linear infinite;
}
.game-releaseDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-weight: 500;
    font-size: 1.8vh;
    position: relative;
    overflow: hidden;
    color: var(--text-dark-gray);
}
.game-releaseDate p {
    font-size: 2vh;
    font-weight: 700;
    margin: 0;
    color: var(--text);
}
@keyframes scroll-text {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    10% {
        transform: translateX(0%);
        opacity: 1;
    }
    85% {
        transform: translateX(-130%);
        opacity: 1;
    }
    90% {
        transform: translateX(-130%);
        opacity: 0;
    }
    93% {
        transform: translateX(0%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
.achie-status-tag {
    font-size: 2vh;
    font-weight: 700;
    background-color: var(--yellow);
    width: fit-content;
    border-radius: .8vh;
    padding: .3vh .4vw .3vh 1.5vw;
    color: var(--text-yellow);
    cursor: pointer;
}
.achie-status-tag::before {
    content: '';
    position: absolute;
    width: .8vw;
    height: 1.5vh;
    border-radius: 50%;
    background-color: var(--yellow-light);
    object-fit: cover;
    align-self: center;
    transform: translateX(-1.08vw);
}
.campaign-status-change {
    position: absolute;
    transform: translateY(4.1vh) translateX(-.3vw);
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1vh;
    border-radius: 1.4vh;
}
.campaign-status-change li {
    padding: .3vh .4vw .3vh 1.5vw;
    font-size: 2vh;
    font-weight: 700;
    border-radius: .8vh;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}
.campaign-status-change li::before {
    content: '';
    position: absolute;
    width: .8vw;
    height: 1.5vh;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    transform: translateX(-1.08vw);
}
.option-ajogar {
    background-color: var(--text-dark-gray);
    color: var(--text-gray);
}
.option-ajogar::before {
    background-color: var(--text-gray);
}
.option-jogando {
    background-color: var(--blue);
    color: var(--text-blue);
}
.option-jogando::before {
    background-color: var(--blue-light);
}
.option-zerado {
    background-color: var(--green);
    color: var(--text-green);
}
.option-zerado::before {
    background-color: var(--green-light);
}

.achie-status-change {
    position: absolute;
    transform: translateY(4.1vh) translateX(6.72vw);
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1vh;
    border-radius: 1.4vh;
}
.achie-status-change li {
    padding: .3vh .4vw .3vh 1.5vw;
    font-size: 2vh;
    font-weight: 700;
    border-radius: .8vh;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}
.achie-status-change li::before {
    content: '';
    position: absolute;
    width: .8vw;
    height: 1.5vh;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    transform: translateX(-1.08vw);
}
.option-aplatinar {
    background-color: var(--text-dark-gray);
    color: var(--text-gray);
}
.option-aplatinar::before {
    background-color: var(--text-gray);
}
.option-platinando {
    background-color: var(--orange);
    color: var(--text-orange);
}
.option-platinando::before {
    background-color: var(--orange-light);
}
.option-platinado {
    background-color: var(--yellow);
    color: var(--text-yellow);
}
.option-platinado::before {
    background-color: var(--yellow-light);
}