@import url(basics.css);

.pageBody {
    display: flex;
    flex-direction: column;
    /* margin-top: 2vh; */
    gap: 1vh;
    position: relative;
}

/* Básico */
.boltnotes-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; 
    width: 100%;
}

.notes-logo {
  font-weight: 400;
  font-size: 3vh;
  margin: 0;
  color: var(--text-dark-gray);
  user-select: none;
}
.boltnotes-logo {
    height: 100%; 
    width: 60vh;
    background-color: var(--text);
    mask: url(../assets/boltnotes-logo.svg) no-repeat center / contain;
    -webkit-mask: url(../assets/boltnotes-logo.svg) no-repeat center / contain;
    user-select: none;
}
.sep-bar-v {
    margin: 0 .8vw 2vh .8vw;
}
.note-sep-bar {
    margin: 0 .8vw 1.8vh 0;
    border: solid .4vh var(--sep-bar);
    display: none;
}

/* Lista de notas */
#note-list {
    display: flex;
    flex-direction: column;
    height: 84.5%;
    width: 98%;
    margin: 1.65vh 1vw;
    overflow-x: hidden;
    overflow-y: auto;
    /* position: absolute; */
    justify-content: space-between;
    gap: 1.5vh;
}
#tabs {
    display: grid;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-auto-rows: 30vh;
    gap: 1.5vh .75vw;
}
/* #tabs::-webkit-scrollbar-thumb {
    display: none;
} */
.tab {
    display: flex;
    font-size: 3vh;
    font-weight: 550;
    flex-direction: row;
    background-color: var(--tab);
    padding: 2vh 1vw;
    position: relative;
    gap: .4vw;
    border-radius: 1.25vh;
    cursor: pointer;
    margin: 0;
    justify-content: center;
    align-items: center;
    transition: background .1s linear;
    user-select: none;
    overflow: hidden;
}
.tab-name {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events: none;
}
.tab.active {
    /* background-color: var(--tab-active); */
}
.tab:focus {
  background-color: #007bff;
  color: white;
}

.tab:hover {
    background-color: var(--tab-hover);
}
.sortable-ghost {
    opacity: .35 !important;
}

.sortable-drag {
    display: none !important;
}
#delete-note {
    transition: background .1s linear, color .1s linear;
    /* margin-right: .45vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* right: .35vw; */
    width: 100%;
    height: 100%;
    color: var(--tab);
    background-color: var(--tab-active);
    z-index: 2;
    font-size: 32vh;
    /* padding: 1vh .5vw; */
    /* border-radius: 1vh; */
}
#delete-note:hover {
    color: var(--text-red);
    background-color: var(--red);
}
#delete-note:hover .tab {
    background-color: var(--tab);
}
#delete-note:hover .tab-name {
    pointer-events: none;
}
.newNote-input {
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    margin: 0 0 1vh 0;
    overflow-y: auto;
    align-items: center;
}
#newNote-name {
    font-size: 2vh;
    font-weight: 500;
    font-family: 'Montserrat';
    background-color: var(--tab);
    border: none;
    color: var(--text);
    flex: 1;
    padding: 1vh .5vw;
    border-radius: 1.3vh;
    transition: border .1s linear;
    margin-right: .4vw;
    z-index: 98;
}
.tab-drag-handle {
    color: var(--text-gray);
    padding: 0 .25vw 0 0;
    cursor: grab;
    opacity: .25;
}
.tab.sortable-drag {
    transform: translateX(0) !important;
    cursor: grabbing !important;
}
body.dragging-tab, 
body.dragging-tab * {
  cursor: grabbing !important;
  pointer-events: none !important;
}
#tablist {
    overflow: hidden;
    cursor: grab;
}
.tab-drag-handle:active {
    cursor: grabbing;
}
#editSorting {
    background-color: transparent;
    padding: 1vh .5vw;
    border-radius: 1vh;
    text-align: center;
    transition: background .15s linear;
    color: var(--text);
    cursor: pointer;
    z-index: 98;
}
#editSorting:hover {
    background-color: var(--tab-hover);
}
/* #toggleDeleteBtns {
    background-color: transparent;
    padding: 1vh .5vw;
    border-radius: 1vh;
    text-align: center;
    transition: all .15s linear;
    color: var(--text);
    cursor: pointer;
    background-color: var(--btn);
    color: var(--text);
}
#toggleDeleteBtns:hover {
    background-color: var(--btn-hover);
} */
#note-list .sep-bar {
    margin: 0 0 .5vh 0;
}

/* Visualização de notas */
.note-view {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 89%;
    flex: 1;
    z-index: 50;
    position: absolute;
    background-color: var(--bg);
    bottom: 0;
}
.title-bar {
    display: flex;
    height: 10vh;
    margin: 0;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: .5vw;
    /* background-color: var(--btn-color); */
    /* border-radius: 1.25vh; */
    padding: .8vh 1.4vw .65vh 1.25vw;
    z-index: 97;
    border-bottom: solid .76vh var(--tab-active);
    background-image: linear-gradient(to bottom, transparent 0%, var(--tab) 80%);
}
.note-list-bar {
    display: flex;
    margin: 0;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: .5vw;
    width: 100%;
    height: 100%;
}
.open-note-bar {
    display: none;
    margin: 0;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: .5vw;
    width: 100%;
    height: 100%;
}
.open-note-bar div,
.note-list-bar div {
    display: flex;
    flex-direction: row;
    gap: .65vw;
    align-items: center;
}
#title-note,
.note-list-bar p {
    font-weight: 800;
    padding: 0;
    padding: .25vh .25vw;
    border: solid .5vh transparent;
    border-radius: 1vh;
    font-size: 5vh;
    margin: 0;
    color: var(--text);
    caret-color: var(--text-gray);
    cursor: text;
}
#title-note:focus {
    border: solid .5vh var(--btn-hover);
    border-radius: 1vh;
    outline: none;
}
#content {
    margin: 0 0 0 1.5vw;
    font-size: 2.5vh;
    padding: 1.35vh 0 2vh 0;
    white-space: pre-wrap;
    caret-color: var(--text);
    user-select: text;
    cursor: default;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
#content[contenteditable="true"] {
    cursor: text;
}
#content:focus {
  outline: none;
}
#content a {
    color: var(--btn-color);
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    transition: opacity .1s;
    opacity: .75;
}
#content a:hover {
    color: var(--btn-hover-color);
    text-decoration: underline;
    opacity: 1;
}
#content p {
    margin: .5vh;
}
h1, h2, h3 {
    font-weight: 700;
    margin: 0;
}
h1 {
    font-family: 4vh
}
.image {
    height: 50vh;
    border-radius: 1vh;
    margin: .65vh 0 0 0;
}
.note-list-title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0;
    height: 6vh;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: .75vw;
    background-color: var(--tab-hover);
    border-radius: 1.25vh;
    padding: 1vh .8vw;
}
.note-list-title-div div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75vw;
}
.note-list-title {
    margin: 0;
    font-size: 3.5vh;
    font-weight: 600;
    color: var(--text);
}
.image-uploader-placeholder {
    background-color: var(--btn);
    color: var(--text-dark-gray);
    padding: 2vh 6.5vw;
    margin: 0;
    font-weight: 500;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    cursor: pointer;
    transition: background 0.2s ease;
    width: fit-content;
}
.image-uploader-placeholder:hover {
    background-color: var(--btn-hover);
}
.image-uploader-placeholder i {
    color: var(--text-gray);
    font-size: 12vh;
}