@import url(basics.css);

.pageBody {
    font-family: 'Montserrat';
    color: white;
    display: flex;
    flex-direction: row;
    transform: translateY(6.5vh);
    height: 93.3vh;
}
header {
    box-shadow: none;
}

/* Básico */
.boltnotes-logo {
    transform: translateX(20vw) translateY(20vh);
    display: flex;
    justify-content: center;
    height: 32vh;
}
.sep-bar-v {
    margin: 0 1vw 0 0;
}
.note-sep-bar {
    margin: 0 0 1.8vh 0;
    border: solid .4vh rgba(25,25,25,.4);
    display: none;
}

/* Lista de notas */
#note-list {
    display: flex;
    flex-direction: column;
    height: 87vh;
    padding: 0 1vw;
    position: relative;
    justify-content: space-between;
}
#tabs {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 81%;
}
#tabs::-webkit-scrollbar-thumb {
    display: none;
}
.tab {
    display: flex;
    font-size: 2vh;
    font-weight: 400;
    flex-direction: row;
    background-color: var(--tab);
    padding: 2vh 1.5vh;
    border-radius: 1vh;
    cursor: pointer;
    margin: .5vh 0;
    width: 15.4vw;
    justify-content: space-between;
    align-items: center;
    transition: background .1s linear;
    user-select: none;
}
.tab.active {
    background-color: var(--tab-active);
}
.tab:hover {
    background-color: var(--tab-hover);
}
#delete-note {
    transition: color .1s linear;
    margin-right: .45vh;
}
#delete-note:hover {
    color: var(--red);
}
.newNote-input {
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    margin: 0 0 1vh 0;
    overflow-y: auto;
    align-items: center;
}
#newNote-name {
    font-size: 2vh;
    font-weight: 400;
    font-family: 'Montserrat';
    background-color: rgba(22, 22, 22, 0.329);
    border: none;
    padding: 2vh 1.4vh;
    color: white;
    border-radius: 1.3vh;
    width: 11.8vw;
    transition: border .1s linear;
    margin-right: .4vw;
    z-index: 98;
}
#newNote-add {
    background-color: rgb(20, 20, 20);
    padding: 2.4vh 2vh;
    border-radius: 1.3vh;
    text-align: center;
    transition: background .15s linear;
    cursor: pointer;
    z-index: 98;
}
#newNote-add:hover {
    background-color: rgb(25,25,25);
}

/* Visualização de notas */
.note-view {
    display: flex;
    flex-direction: column;
    width: 81%;
}
.title-bar {
    display: flex;
    padding: 0;
    height: 6vh;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#title-note {
    font-weight: 600;
    padding: 0;
    padding: .5vh;
    border: solid .4vh transparent;
    border-radius: 1vh;
    font-size: 3vh;
    margin: 0;
    caret-color: var(--text);
}
#title-note:focus {
    padding: .5vh;
    border: solid .4vh rgba(0, 110, 194, 0.6);
    border-radius: 1vh;
    outline: none;
}
#edit-note {
    cursor: pointer;
}
#content {
    margin: 0 1.5vw;
    font-size: 2.5vh;
    white-space: pre-wrap;
    caret-color: var(--text);
}
/* Texto da visualização de notas */
#content:focus {
  outline: none;
}
#content a {
    color: rgb(0,135,230);
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    transition: color .1s;
}
#content a:hover {
    color: rgb(60,170,255);
    text-decoration: underline;
}
#content p {
    margin: .5vh;
}
h1, h2, h3 {
    font-weight: 700;
    margin: 0;
}