@import url(basics.css);

.pageBody {
    font-family: 'Montserrat';
    color: var(--text);
    display: flex;
    flex-direction: row;
    transform: translateY(6.5vh);
    height: 93.3vh;
}
header {
    box-shadow: none;
}

/* Básico */
.boltnotes-logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; 
    width: 100%;
}

.notes-logo {
  font-family: 'Vazirmatn';
  font-weight: 100;
  letter-spacing: .1rem;
  font-size: 20vh;
  text-transform: uppercase;
  margin: 0 0 2vh 0;
  user-select: none;
}
.boltnotes-logo {
    height: 100%; 
    width: 60vh;
    background-color: var(--text);
    mask: url(assets://boltnotes-logo.svg) no-repeat center / contain;
    -webkit-mask: url(assets://boltnotes-logo.svg) no-repeat center / contain;
    user-select: none;
}
.sep-bar-v {
    margin: 0 1vw 7.5vh 1vw;
}
.note-sep-bar {
    margin: 0 0 1.8vh 0;
    border: solid .4vh var(--sep-bar);
    display: none;
}

/* Lista de notas */
#note-list {
    display: flex;
    flex-direction: column;
    height: 87vh;
    width: 23%;
    padding: 0 0 0 1vw;
    position: relative;
    justify-content: space-between;
}
#tabs {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 81%;
}
#tabs::-webkit-scrollbar-thumb {
    display: none;
}
.tab {
    display: flex;
    font-size: 2vh;
    font-weight: 500;
    flex-direction: row;
    background-color: var(--tab);
    padding: 2vh 1vw;
    border-radius: 1vh;
    cursor: pointer;
    margin: .5vh 0;
    justify-content: space-between;
    align-items: center;
    transition: background .1s linear;
    user-select: none;
}
.tab.active {
    background-color: var(--tab-active);
}
.tab:hover {
    background-color: var(--tab-hover);
}
#delete-note {
    transition: color .1s linear;
    margin-right: .45vh;
    color: var(--text);
}
#delete-note:hover {
    color: var(--red);
}
.newNote-input {
    display: flex;
    flex-direction: row;
    left: 0;
    bottom: 0;
    margin: 1vh 0;
    overflow-y: auto;
    align-items: center;
}
#newNote-name {
    font-size: 2vh;
    font-weight: 500;
    font-family: 'Montserrat';
    background-color: var(--tab);
    border: none;
    color: var(--text);
    flex: 1;
    padding: 2vh 1vw;
    border-radius: 1.3vh;
    transition: border .1s linear;
    margin-right: .4vw;
    z-index: 98;
}
#newNote-name::placeholder {
    color: var(--text);
    opacity: .5;
}
#newNote-add {
    background-color: var(--btn);
    padding: 2vh 1vw;
    border-radius: 1.3vh;
    text-align: center;
    transition: background .15s linear;
    color: var(--text);
    cursor: pointer;
    z-index: 98;
}
#newNote-add:hover {
    background-color: var(--btn-hover);
}

/* Visualização de notas */
.note-view {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.title-bar {
    display: flex;
    padding: 0;
    height: 6vh;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#title-note {
    font-weight: 600;
    padding: 0;
    padding: .5vh;
    border: solid .4vh transparent;
    border-radius: 1vh;
    font-size: 3vh;
    margin: 0;
    caret-color: var(--text);
}
#title-note:focus {
    padding: .5vh;
    border: solid .4vh var(--blue);
    border-radius: 1vh;
    outline: none;
}
#edit-note {
    cursor: pointer;
    color: var(--text);
    font-size: 3vh;
}
#content {
    margin: 0 .5vw;
    font-size: 2.5vh;
    white-space: pre-wrap;
    caret-color: var(--text);
    user-select: text;
    height: 91.8%;
}
/* Texto da visualização de notas */
#content:focus {
  outline: none;
}
#content a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    transition: opacity .1s;
    opacity: .75;
}
#content a:hover {
    color: var(--blue);
    text-decoration: underline;
    opacity: 1;
}
#content p {
    margin: .5vh;
}
h1, h2, h3 {
    font-weight: 700;
    margin: 0;
}