@import url(basics.css);
@import url(shell.css);
@import url(config.css);

.config-item-lang {
    justify-content: center;
    text-align: center;
    align-self: center;
}
.change-lang-drop-select {
    transform: translateY(-10.5vh);
    /* position: relative; */
    z-index: 99;
}
.body-page {
    height: 0;
    flex: 1;
    width: 100%;
    border-radius: 0;
    background-color: var(--bg);
}
.next-btn {
    position: absolute;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    text-decoration: none;
    padding: 2vh 1.5vw;
    font-weight: 800;
    border-radius: 1vh;
    cursor: pointer;
    pointer-events: auto;
    transition: background .1s linear, transform .1s linear;
    width: 16.5vw;
    right: 4.5vw;
    bottom: 7vh;
    text-align: center;
}
.next-btn:hover {
    background-color: var(--btn-hover-color);
    transform: scale(1.02);
}

header {
    margin: 4vh 8vw;
    width: 100%;
}
header:hover {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.page {
    pointer-events: none;
}
.page:hover {
    transform: none;
}
.game {
    cursor: default;
    pointer-events: none;
}
.game:hover {
    transform: none;
    cursor: default;
}

.featured-games {
    height: 81%;
    width: 100%;
}

.pages-section {
    /* height: 35vh; */
    margin: 0;
    /* transform: scale(0.9); */
    /* position: absolute; */
    width: 100%;
    display: flex;
    /* visibility: visible; */
    opacity: 1;
}
.page-infos {
    /* position: absolute;
    bottom: 18vh;
    left: 0;
    transform: scale(0.9) translateX(-4vw);
    width: 65vw; */
    height: 54%;
    width: 100%;
}

.featuredSelector-select {
    flex-direction: column;
    width: 100%;
    padding: 0;
    border-radius: 0;
}
.featured-selector-div,
.config-item.featured {
    width: 100%;
}
.featured-change {
    /* position: absolute; */
    /* bottom: 25vh;
    right: 18vw; */
    /* background-color: var(--tab); */
    padding: 0 0 10vh 1vw;
    border-radius: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .28vh;
    height: 100%;
    flex: 1;
    width: 95.8%;
}
.pages-change {
    /* position: absolute; */
    /* top: 16vh; */
    /* right: 7vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: var(--tab); */
    padding: 0 0 0 1.47vw;
    border-radius: 1vh;
    gap: .25vh;
    height: 100%;
    flex: 1;
    width: 95.8%;
}
.recent-season {
    pointer-events: none;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.fadeOut {
  animation: fadeOut .25s ease-in-out forwards !important;
}
.fadeIn {
  animation: fadeIn .25s ease-in-out forwards !important;
}
.mark {
    display: inline-block;
    width: 1.5vw;
    height: 3vh;
    background-color: var(--tab-hover);
    border-radius: .6vh;
    position: relative;
    transition: background-color 0.15s, border .2s;
}
.mark-item {
    cursor: pointer;
}
.mark::after {
    content: '\f00c';
    position: absolute;
    width: 2.16vh;
    font-weight: 900;
    visibility: hidden;
    font-family: "Font Awesome 7 Free";
    padding: .5vh;
    color: var(-text);
    transition: visibility 0.1s, border .2s;
    object-fit: cover;
}
.assets-list-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(5vh);
}
.sep-list {
    font-size: 7vh;
    margin: 0 0 .6vh 0;
    font-weight: 900;
}
.assets-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--tab);
    padding: 1vh 1vw 40vh 1vw;
    border-radius: 1vh;
}
.assets-list .config-item p {
    font-weight: 500;
}
.mark.active {
    background-color: var(--btn-hover-color);
}
.mark.active::after {
    visibility: visible;
}
.next-btn.locked {
  pointer-events: none !important;
  opacity: .5 !important;
  cursor: not-allowed !important;
}
#step1 {
    display: none;
    opacity: 0;
    flex-direction: row;
    height: 100%;
    background-color: var(--bg);
}
#step2 {
    display: none;
    opacity: 0;
    flex-direction: column;
    background-color: var(--bg);
}

#start {
    height: 100%;
    width: 100%;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/welcome-start-screen.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-logo {
    height: 100%;
    width: 100%;
    background-color: white;
    mask: url(../assets/boltnotes-logo.svg) no-repeat center / contain;
    -webkit-mask: url(../assets/boltnotes-logo.svg) no-repeat center / contain;
}
.start-text {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    font-weight: 550;
    font-size: 3vh;
    margin: 0 0 10.5vh 0;
    color: var(--text-gray);
}
.custom-select {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 1vh;
    right: 5.75vw;
    bottom: 15vh;
    width: 18.25vw;
    overflow: visible;
    border-radius: 1.25vh;
}
.change-lang-btn {
    width: 100%;
}

.step1-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6vh;
    height: 100%;
    width: 0;
    flex: 1;
    margin: 2vh .8vw 0 .95vw;
}
.step1-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.6vh;
    height: 100%;
    width: 25%;
    /* margin: 2vh .8vw 0 .95vw; */
    border-left: solid .38vw var(--tab-active);
    background-image: linear-gradient(to left, transparent 0%, var(--tab) 80%);
}
.recentSeason-panel {
    margin: 0 0 2.5vh 0;
}
.featuredSelector-select li {
    width: 90%;
}